.app
  -webkit-app-region drag
  overflow hidden
  opacity 0.95

  &.dark-theme
    background-color #282630

  &.light-theme
    background-color #e1e5ed

  & * *
    -webkit-app-region no-drag

  &__bar
    width 100%
    display flex
    flex-direction row
    justify-content space-between
    align-items center

    .dark-theme &
      background-color #1e1c26

    .light-theme &
      background-color #908bad

  &__body
    text-align center
    display flex
    flex-direction column
    align-items center
    justify-content center
    padding 15px 0
