.pomodoro-counter
  width 50%
  display flex
  flex-direction row
  justify-content space-between
  margin 0 0 15px

  &__dot
    background-color #1e1c26
    width 8px
    height 8px
    border-radius 10px

    &--done
      background-color #4c485c