.state-buttons
  display flex
  width 80%
  justify-content space-between
  margin-top 10px

.state-button
  border none
  border-radius 5px
  padding 5px
  width 30px

  .dark-theme &
    background-color #1e1c26
    color #b6b4bf

  .light-theme &
    background-color #908bad
    color #1e1c26

  &:hover
    cursor pointer

    .dark-theme &
      background-color #464352

    .light-theme &
      background-color #6d6696