.state-buttons
  display flex
  width 80%
  justify-content space-between
  margin-top 10px

.state-button
  background-color #1e1c26
  border none
  border-radius 5px
  color #b6b4bf
  padding 5px
  width 30px

  &:hover
    cursor pointer
    background-color #464352