.text
  color #b6b4bf

  &--current-state, &--timer
    font-family 'Roboto', sans-serif

  &--current-state
    font-size 1.3em
    font-weight 300

  &--timer
    font-size 3.6em
    font-weight 200