.text
  .dark-theme &
    color #b6b4bf

  .light-theme &
    color #1e1c26

  &--current-state, &--timer
    font-family 'Roboto', sans-serif

  &--current-state
    font-size 1.3em
    font-weight 300

  &--timer
    font-size 3.1em
    font-weight 200