.timer-display
  display flex
  flex-direction row
  align-items baseline

  &__pause-play-button
    color #b6b4bf66
    margin-left 8px
    font-size 12px
    cursor pointer

    &:hover
      color #b6b4bf