.timer-display
  display flex
  flex-direction row
  align-items baseline

  &__pause-play-button
    margin-left 5px
    font-size 12px
    cursor pointer

    .dark-theme &
      color #b6b4bf66

    .light-theme &
      color #908bad

    &:hover
      .dark-theme &
        color #b6b4bf

      .light-theme &
        color #1e1c26
