.window-button
  background-color transparent
  border none
  color #8e8c96
  height 30px
  width 30px
  display block

  &:hover
    background-color #464352
    cursor pointer

  &--close:hover
    background-color #a8142f
