.window-buttons
  display flex
  flex-direction row

.window-button
  background-color transparent
  border none
  height 30px
  width 30px
  display block

  .dark-theme & .text
    color #8e8c96

  .light-theme & .text
    color #1e1c26

  &:hover
    cursor pointer

    .dark-theme &
      background-color #464352

    .light-theme &
      background-color #464352

    .dark-theme & .text
      color #8e8c96

    .light-theme & .text
      color #fff

  &--close:hover
    .dark-theme &
      background-color #a8142f

    .light-theme &
      background-color #a8142f
